# Indonesian Abusive and Hate Speech Twitter Text

### Table of Content

1. Background
2. Data Features 
3. Problem Identification
4. Import Libraries
5. Reading Data
6. Statistical Information about the Data
7. Data Cleansing
8. Exploratory Data Analyst (EDA)

### 1. Background

### 2. Data Features

- HS : hate speech label
- Abusive : abusive language label
- HS_Individual : hate speech targeted to an individual
- HS_Group : hate speech targeted to a group
- HS_Religion : hate speech related to religion/creed
- HS_Race : hate speech related to race/ethnicity
- HS_Physical : hate speech related to physical/disability
- HS_Gender : hate speech related to gender/sexual orientation
- HS_Other : hate related to other invective/slander
- HS_Weak : weak hate speech
- HS_Moderate : moderate hate speech
- HS_Strong : strong hate speech

### 3. Problem Identification

- Berapa perbandingan antara jumlah tweet yang mengandung kata-kata ujaran kebencian dengan yang tidak mengandung kata-kata ujaran kebencian?
- Berapa jumlah perbandingan tweet yang mengandung kata HS dengan Abusive?
- Berapa jumlah perbandingan tweet dari masing-masing kategori Hate Speech?
- Bagaimana perbandingan jumlah kasus ujaran kebencian yang ditujukan kepada individu (HS_Individual) dengan yang ditargetkan pada suatu grup (HS_Group) dalam rentang waktu tertentu?

### Install Libraries

In [ ]:
# !pip install pandas
# !pip install regex
# !pip install seaborn
# !pip install matplotlib

In [1]:
pip list

Package              Version
-------------------- ------------
aiofiles             23.2.1
altair               5.1.2
annotated-types      0.6.0
anyio                3.7.1
argon2-cffi          21.3.0
argon2-cffi-bindings 21.2.0
asttokens            2.0.5
attrs                23.1.0
Babel                2.14.0
backcall             0.2.0
beautifulsoup4       4.12.2
bleach               4.1.0
blinker              1.6.3
cachetools           5.3.2
certifi              2023.7.22
cffi                 1.15.1
charset-normalizer   3.3.1
click                8.1.7
colorama             0.4.6
comm                 0.1.2
contourpy            1.1.1
cycler               0.12.1
debugpy              1.6.7
decorator            5.1.1
defusedxml           0.7.1
demoji               1.1.0
entrypoints          0.4
et-xmlfile           1.1.0
exceptiongroup       1.0.4
executing            0.8.3
fastapi              0.104.0
fastjsonschema       2.16.2
ffmpy                0.3.1
filelock             3.12.4
flasgger             0.9.7.1
Flask                3.0.0
fonttools            4.43.1
fsspec               2023.10.0
gitdb                4.0.11
GitPython            3.1.40
gradio               3.50.2
gradio_client        0.6.1
h11                  0.14.0
httpcore             0.18.0
httpx                0.25.0
huggingface-hub      0.18.0
idna                 3.4
importlib-metadata   6.8.0
importlib-resources  6.1.0
ipykernel            6.25.0
ipython              8.15.0
ipython-genutils     0.2.0
itsdangerous         2.1.2
jedi                 0.18.1
Jinja2               3.1.2
joblib               1.3.2
jsonschema           4.17.3
jupyter_client       7.4.9
jupyter_core         5.3.0
jupyter-server       1.23.4
jupyterlab-pygments  0.1.2
jupyterthemes        0.20.0
kaggle               1.6.3
kiwisolver           1.4.5
lesscpy              0.15.1
lxml                 4.9.3
markdown-it-py       3.0.0
MarkupSafe           2.1.1
matplotlib           3.8.0
matplotlib-inline    0.1.6
mdurl                0.1.2
mistune              0.8.4
nbclassic            0.5.5
nbclient             0.5.13
nbconvert            6.5.4
nbformat             5.9.2
nest-asyncio         1.5.6
nltk                 3.8.1
notebook             6.5.4
notebook_shim        0.2.2
numpy                1.26.1
opendatasets         0.1.22
openpyxl             3.1.2
orjson               3.9.9
packaging            23.1
pandas               2.1.1
pandocfilters        1.5.0
parso                0.8.3
pickleshare          0.7.5
Pillow               10.1.0
pip                  23.3
platformdirs         3.10.0
ply                  3.11
prometheus-client    0.14.1
prompt-toolkit       3.0.36
protobuf             4.25.1
psutil               5.9.0
pure-eval            0.2.2
pyarrow              14.0.2
pycparser            2.21
pydantic             2.4.2
pydantic_core        2.10.1
pydeck               0.8.1b0
pydub                0.25.1
Pygments             2.15.1
pyparsing            3.1.1
pyrsistent           0.18.0
python-dateutil      2.8.2
python-multipart     0.0.6
python-slugify       8.0.1
pytz                 2023.3.post1
pywin32              305.1
pywinpty             2.0.10
PyYAML               6.0.1
pyzmq                23.2.0
regex                2023.10.3
requests             2.31.0
rich                 13.7.0
Sastrawi             1.0.1
scipy                1.11.4
seaborn              0.13.0
semantic-version     2.10.0
Send2Trash           1.8.0
setuptools           68.0.0
six                  1.16.0
smmap                5.0.1
sniffio              1.2.0
soupsieve            2.5
stack-data           0.2.0
starlette            0.27.0
streamlit            1.29.0
swagger-ui-py        23.9.23
tenacity             8.2.3
terminado            0.17.1
text-unidecode       1.3
tinycss2             1.2.1
toml                 0.10.2
toolz                0.12.0
tornado              6.3.3
tqdm                 4.66.1
traitlets            5.7.1
typing_extensions    4.8.0
tzdata               2023.3
tzlocal              5.2
urllib3              2.0.7
uvicorn              0.23.2
validators           0.22.0
watchdog             3.0.0
wcwidth              0.2.5
webencodings         0.5.1
websocket-client     0.58.0
websockets           11.0.3
Werkzeug             3.0.0
wheel                0.41.2
zipfile36            0.1.3
zipp                 3.17.0
Note: you may need to restart the kernel to use updated packages.

### 4. Import Libraries

In [1]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt

print('done')

done

### 5. Reading Data

In [2]:
data = pd.read_csv('data.csv',encoding='latin-1')
data.shape

(13169, 13)

In [3]:
data.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

### Reading Dataset Kamus Alay

In [4]:
alay_df = pd.read_csv('new_kamusalay.csv', encoding='latin-1', header= None)
print('done')

done

In [5]:
alay_df

                         0                         1
0      anakjakartaasikasik  anak jakarta asyik asyik
1             pakcikdahtua         pak cik sudah tua
2           pakcikmudalagi         pak cik muda lagi
3              t3tapjokowi              tetap jokowi
4                       3x                 tiga kali
...                    ...                       ...
15163               mendag       menteri perdagangan
15164              menaker      menteri tenaga kerja
15165             memetwit                   mentwit
15166             megangin                  memegang
15167                  gue                       aku

[15168 rows x 2 columns]

In [6]:
abusive_df = pd.read_csv('abusive.csv', encoding='latin-1')
print('done')

done

In [7]:
abusive_df

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

### Reading Dataset Abusive

### 6. Statistical Information about the Data

In [8]:
data.describe()

,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
count,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000
mean,0.422280,0.382945,0.271471,0.150809,0.060217,0.042980,0.024527,0.023236,0.284000,0.256891,0.129471,0.035918
std,0.493941,0.486123,0.444735,0.357876,0.237898,0.202819,0.154685,0.150659,0.450954,0.436935,0.335733,0.186092
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13169 entries, 0 to 13168
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tweet          13169 non-null  object
 1   HS             13169 non-null  int64
 2   Abusive        13169 non-null  int64
 3   HS_Individual  13169 non-null  int64
 4   HS_Group       13169 non-null  int64
 5   HS_Religion    13169 non-null  int64
 6   HS_Race        13169 non-null  int64
 7   HS_Physical    13169 non-null  int64
 8   HS_Gender      13169 non-null  int64
 9   HS_Other       13169 non-null  int64
 10  HS_Weak        13169 non-null  int64
 11  HS_Moderate    13169 non-null  int64
 12  HS_Strong      13169 non-null  int64
dtypes: int64(12), object(1)
memory usage: 1.3+ MB

In [10]:
data.columns

Index(['Tweet', 'HS', 'Abusive', 'HS_Individual', 'HS_Group', 'HS_Religion',
       'HS_Race', 'HS_Physical', 'HS_Gender', 'HS_Other', 'HS_Weak',
       'HS_Moderate', 'HS_Strong'],
      dtype='object')

### 7. Data Cleansing

### Data Duplicated

In [11]:
data.duplicated().sum()

125

### Drop Data Duplicated

In [12]:
data.drop_duplicates(inplace=True)
print('done')

done

In [13]:
data.duplicated().sum()

0

### Cleaning Data Tweet

In [14]:
def clean_text(text):
    text = text.lower()
    emoticon = re.sub(r"[\\x]+[a-z0-9]{2}", ' ', text) # Menghapus karakter yang dimulai dengan '\x' diikuti oleh dua karakter huruf atau angka
    url = re.sub(r"https?://[^\s]+|www://[^\s]+", ' ', emoticon)  # Menghapus url http / https
    char = re.sub(r"[^\w\s+]", ' ', url)  # Menghapus karakter kecuali huruf, angka, dan spasi
    number = re.sub(r"\d{1,}", ' ', char) # Menghapus angka yang memiliki lebih dari 1 digit
    retweet = re.sub(r"rt|user", ' ', number)  # Menghapus kata-kata 'rt' dan 'user'
    non_ascii = re.sub(r"[^\x00-\x7F]+", ' ', retweet)  # Remove non-ASCII characters
    text = text.replace('_', ' ')  # Menghapus underscore
    whitespace = re.sub(r'\s+', ' ', non_ascii).strip()  # Menggabungkan spasi berturut-turut menjadi satu spasi
    return whitespace

data['Tweet'] = data['Tweet'].apply(clean_text)
print('done')

done

In [15]:
data["Tweet"].head(60)

0     disaat semua cowok berusaha melacak perhatian ...
1     siapa yang telat ngasih tau elu edan sarap gue...
2     kadang aku berfikir kenapa aku tetap percaya p...
3     aku itu aku n u tau matamu sipit tapi diliat d...
4     kaum cebong kapir udah keliatan dongoknya dari...
5                                    ya bani taplak dkk
6     deklarasi pilkada aman dan anti hoax warga duk...
7     gue baru aja kelar re watch aldnoah zero palin...
8     nah admin belanja satu lagi po terbaik nak mak...
9                               enak lg klo smbil ngewe
10    setidaknya gw punya jari tengah buat lu sebelo...
11    banci kaleng malu ga bisa jawab pe anyaan kami...
12    kalo belajar ekonomi mestinya jago memprivatis...
13    aktor huruhara prabowo s ingin lengserkan peme...
14    bu guru enakan jadi jablay atau guru esde sih ...
15    lawan bicara gw gak intelek kyk loe yg otak ga...
16           belakangan ini kok fikiran ampas banget ya
17                      ari sarua beki mah repeh monyet
18    jadi cowo itu harus gantle kalo ga gantle itu ...
19                                         slga mnr bom
20    asw ya tapi gua jarang ngambek tacut wkkwkwkwk...
21    kalo kamu noob pasti peluang disakitin nya leb...
22    joko widodo dinilai sebagai presiden terlemah ...
23    pelajar sma kec bilah hilir deklarasi anti hoa...
24    bandara udara internasional ke ajati dibangun ...
25    siapapun gubernur dan presidennya rakyatnya ya...
26                   ini si kerjaannya delay mulu setan
27    menurutku pintu sorga ada yaitu pintu sorga ya...
28    pki hanya muncul jika jelang pemilihan kepala ...
29    itu mah sdh nenek nenek sy heran sama cebong b...
30    islam nusantara produk jil dipasarkan dg genca...
31    dari habis sahur sampe jam sibayik udah nete x...
32       gak kak emak mah gak demen ama yang sipit wkwk
33    kelakuan homok jaman now ngentot aja sambil li...
34    ga kak gua bukan orang jawa maaf yak gua orang...
35    pegawai guardian training lagi kek mentang gue...
36    para bajingan yang telah melukai lady harus me...
37    ajakan menolak berita hoax dan sukseskan pilka...
38    presiden ri jokowi luarbiasa kerja nya tulus i...
39                          edan emang goollnya fabiano
40    gapernah mendalami al quran ya bang pantesan m...
41    sangat terlihat beda sekali kewibawaannya yg s...
42    anjir baru kali ini lihat orang bego mau debat...
43    gubernurzamannow gusipulputi ganjaryasin djaro...
44    apa iya islam itu ga boleh dilokalisasi lha kr...
45    ciptakan situasi kamtibmas menjelang pilkada k...
46    positif kok e positif respon masyarakat terhad...
47    kata sembahyang mengadopsi tradisi lokal pada ...
48    kau pendikan tinggi tapi bodoh gk ada larang b...
49         btp the best abaikan kaum kampret otak micin
50    si otak tempurung mah ga usah d ladenin smkn d...
51    awaasss jgn sampe beritanya sampe ke akhi geru...
52                pinokio umur taonan tuh gantipresiden
53    cerita silat lae semacam kho ping hoo yang dar...
54                          benci sekali dgn umat islam
55    provokasi mayat politisasi agama penyebab keka...
56                                   dari pada gua nete
57                                        lol bani lowo
58    takabur bisa lahir dari siapa saja penguasa ra...
59     a orang yang suka ke konser konser sedikit boros
Name: Tweet, dtype: object

In [16]:
data["Tweet"].tail(60)

13109    akhirnya saya paham bahwa hti menggunakan ideo...
13110    ketahanan ideologi amp mental menjadi masalah ...
13111    nder gua aja kg di liatin semua org kalau di m...
13112                                kunyuk emang die wkwk
13113    survei penyusunan disagregasi pmtb bps kota su...
13114    ngomongnya gini nyatanya minta periode gak ngu...
13115    dbdshow kalo menurut saya film yg berkesan yai...
13116    rezim kemarin saya dan keluarga pilih demokrat...
13117    ngeri banget itu ati ati nek berdoa semoga dep...
13118                              caplang pantat panci lu
13119    begitulah model orang yang menukar kebenaran d...
13120                          hai rl ku kristen boleh nih
13121    impian warga indonesia adalah menguasai ha any...
13122    huehue si mahfud md udah ngikutin geng si wowo...
13123    pilkada serentak sumut jadi contoh demokrasi d...
13124                                  hahaha ko fpi islam
13125              selamat datang rezim komunis anti islam
13126    yg bawak kabur t si hanggo ke singapura si mon...
13127    klo di katolik misa pake bahasa indonesia lebi...
13128    yg begini mah lsm kampret bukan maju terus bun...
13129    duh sableng itu sarkasme buat kalian bani onta...
13130               ruhut sitompul prabowo jangan omdo url
13131    lihat fakta dong brosing peringkat pa ai korup...
13132    si ini paling punya mantan aja kaga pacaran be...
13133    terima kasih pak jokowi anda telah bekerja yg ...
13134    pd dsrnya jilbab itu ada di islam kristen yahu...
13135    bang adian pernah bilang sebelum berniat ganti...
13136    kapan bib gk sabr nih mau potong onta buat mer...
13137    alquran kitab sampah dr zakar naik silahkan di...
13138    pak pencatut profesional selektif gunakan nama...
13139                                apa ngoceh onta yaman
13140    ajarkan cinta hentikan menabikan muhammad beja...
13141    paling belakang apa yg termutakhir hahahah yg ...
13142    bubarkan_dpr bubarkan_dpr bubarkan_dpr bubarka...
13143                                    wkwkwkw ccd ahhhh
13144                               babi lo jaringan cacat
13145    goblok bayangin aja kalo janin itu lu yg ngeti...
13146      kbnykn minum kencing onta bs a sperma nya x tuh
13147    memang nggak kasihan ya paling pasukan nasi bu...
13148    biarkan buk biarkan rn sesungguhnya singapur i...
13149    foto ke n ohon tempat koloni monyet putih n ku...
13150    tambahan rsitektur universitas katolik parahya...
13151                                  komnasham sontoloyo
13152    rizieq shihab fpi jancok asu kontol tempek anj...
13153    wilujeng beurang dan siapapun kita latar belak...
13154    adik tengok sekeliling macam mana adik nak cam...
13155    makannya w suruh baca apbn biar ga bego u liat...
13156    presiden joko widodo jokowi masuk daftar the m...
13157    pak recep anda salah itu gubernur pakkkk bukan...
13158    maaf sianu mah cocoknya sama mustafa kemal alm...
13159    ada buku aktivitas angry birds the movie yang ...
13160    nostalgia dengan budaya nos tal gia n kerindua...
13161    brengsek itu orang terbuat dr apa bikin gue be...
13162    kapolda babi biadap dan bodoh gak punya otak kali
13163    orang yahudi kristen dan muslim yang belum per...
13164    jangan asal ngomong ndasmu congor lu yg sekate...
13165                               kasur mana enak kunyuk
13166                    hati hati bisu g n agi bosan huft
13167    bom yang real mudah terdeteksi bom yang terkub...
13168         mana situ ngasih itu cuma foto ya kutil onta
Name: Tweet, dtype: object

In [17]:
data.Tweet[6451]

'semangkin semarak gantipresiden presidenbaru'

### 8. Exploratory Data Analyst (EDA)