# Indonesian Abusive and Hate Speech Twitter Text

### Table of Content

1. Background
2. Data Features 
3. Problem Identification
4. Import Libraries
5. Reading Data
6. Statistical Information about the Data
7. Data Cleansing
8. Exploratory Data Analyst (EDA)

### 1. Background

### 2. Data Features

- HS : hate speech label
- Abusive : abusive language label
- HS_Individual : hate speech targeted to an individual
- HS_Group : hate speech targeted to a group
- HS_Religion : hate speech related to religion/creed
- HS_Race : hate speech related to race/ethnicity
- HS_Physical : hate speech related to physical/disability
- HS_Gender : hate speech related to gender/sexual orientation
- HS_Other : hate related to other invective/slander
- HS_Weak : weak hate speech
- HS_Moderate : moderate hate speech
- HS_Strong : strong hate speech

### 3. Problem Identification

- Berapa perbandingan antara jumlah tweet yang mengandung kata-kata ujaran kebencian dengan yang tidak mengandung kata-kata ujaran kebencian?
- Berapa jumlah perbandingan tweet yang mengandung kata HS dengan Abusive?
- Berapa jumlah perbandingan tweet dari masing-masing kategori Hate Speech?
- Bagaimana perbandingan jumlah kasus ujaran kebencian yang ditujukan kepada individu (HS_Individual) dengan yang ditargetkan pada suatu grup (HS_Group) dalam rentang waktu tertentu?

### Install Libraries

In [ ]:
# !pip install pandas
# !pip install regex
# !pip install seaborn
# !pip install matplotlib
# !pip install num2words
# !pip install sqlite3
# !pip install mysql-connector-python

In [ ]:
# pip list

### 4. Import Libraries

In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
from num2words import num2words

print('success')

success

### 5. Reading Data

In [2]:
data = pd.read_csv('data.csv',encoding='latin-1')
data.shape

(13169, 13)

In [3]:
data.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [4]:
data['Tweet'].head(50)

0     - disaat semua cowok berusaha melacak perhatia...
1     RT USER: USER siapa yang telat ngasih tau elu?...
2     41. Kadang aku berfikir, kenapa aku tetap perc...
3     USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4     USER USER Kaum cebong kapir udah keliatan dong...
5     USER Ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...
6     deklarasi pilkada 2018 aman dan anti hoax warg...
7     Gue baru aja kelar re-watch Aldnoah Zero!!! pa...
8     Nah admin belanja satu lagi port terbaik nak m...
9                         USER Enak lg klo smbil ngewe'
10    Setidaknya gw punya jari tengah buat lu, sebel...
11    USER USER USER USER BANCI KALENG MALU GA BISA ...
12    Kalo belajar ekonomi mestinya jago memprivatis...
13    Aktor huruhara 98 Prabowo S ingin lengserkan p...
14    USER Bu guru enakan jadi jablay atau guru esde...
15    USER USER USER USER USER USER Lawan bicara gw ...
16          Belakangan ini kok fikiran ampas banget ya'
17    Ari sarua beki mah repeh monyet\xf0\x9f\x98\x8...
18    Jadi cowo itu harus Gantle kalo ga Gantle itu ...
19                  USER Slga mnr bom \xf0\x9f\x98\x82'
20    Asw ya tapi gua jarang ngambek, tacut wkkwkwkw...
21    USER kalo kamu noob pasti peluang disakitin ny...
22    USER Joko Widodo dinilai sebagai presiden terl...
23    PELAJAR SMA KEC BILAH HILIR DEKLARASI ANTI HOA...
24    Bandara Udara Internasional Kertajati dibangun...
25    Siapapun gubernur dan presidennya, rakyatnya, ...
26           Ini si USER kerjaannya delay mulu! Setan!'
27    menurutku pintu sorga ada yaitu pintu sorga ya...
28    RT USER USER USER PKI hanya muncul jika jelang...
29    USER USER Itu mah sdh nenek-nenek sy heran sam...
30    USER USER USER USER USER USER USER USER USER I...
31    Dari habis sahur sampe jam 10. Sibayik udah ne...
32    USER Gak kak emak mah gak demen ama yang sipit...
33    RT USER: Kelakuan homok jaman now, ngentot aja...
34    USER Ga kak, gua bukan orang jawa maaf yak :(;...
35    Pegawai Guardian training lagi kek Mentang2 gu...
36    \xe2\x80\x9dPara Bajingan yang telah melukai L...
37    ajakan menolak berita hoax dan sukseskan pilka...
38    USER USER Presiden RI Jokowi luarBiasa kerja n...
39                       Edan emang goollnya fabiano!!'
40    GAPERNAH MENDALAMI AL-QURAN YA BANG??? PANTESA...
41    Sangat terlihat beda sekali Kewibawaannya ,; y...
42    Anjir baru kali ini lihat orang bego mau debat...
43    #GubernurZamanNow #GusIpulPuti2 #GanjarYasin1 ...
44    USER USER Apa iya Islam itu ga boleh dilokalis...
45    Ciptakan Situasi Kamtibmas Menjelang Pilkada 2...
46    USER USER positif kok.\nse-positif respon masy...
47    USER USER USER USER Kata Sembahyang mengadopsi...
48    KAU PENDIKAN TINGGI TAPI BODOH....GK ADA LARAN...
49    USER USER BTP the best ,,,abaikan kaum kampret...
Name: Tweet, dtype: object

### a. Reading Dataset Kamus Alay and Abusive

In [5]:
alay_df = pd.read_csv('new_kamusalay.csv', encoding='latin-1', header= None)
print('success')

success

In [6]:
alay_df

                         0                         1
0      anakjakartaasikasik  anak jakarta asyik asyik
1             pakcikdahtua         pak cik sudah tua
2           pakcikmudalagi         pak cik muda lagi
3              t3tapjokowi              tetap jokowi
4                       3x                 tiga kali
...                    ...                       ...
15163               mendag       menteri perdagangan
15164              menaker      menteri tenaga kerja
15165             memetwit                   mentwit
15166             megangin                  memegang
15167                  gue                       aku

[15168 rows x 2 columns]

In [7]:
abusive_df = pd.read_csv('abusive.csv', encoding='latin-1')
print('success')

success

In [8]:
abusive_df

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

### 6. Statistical Information about the Data

In [9]:
data.describe()

,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
count,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000
mean,0.422280,0.382945,0.271471,0.150809,0.060217,0.042980,0.024527,0.023236,0.284000,0.256891,0.129471,0.035918
std,0.493941,0.486123,0.444735,0.357876,0.237898,0.202819,0.154685,0.150659,0.450954,0.436935,0.335733,0.186092
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
print("Total number of rows: ", data.shape[0])
print("Total number of columns: ", data.shape[1])

tabel_info = pd.DataFrame({
    'Unique':data.nunique(),
    'Null':data.isna().sum(),
    'Type Data':data.dtypes.values
})

tabel_info

Total number of rows:  13169
Total number of columns:  13

               Unique  Null Type Data
Tweet           13023     0    object
HS                  2     0     int64
Abusive             2     0     int64
HS_Individual       2     0     int64
HS_Group            2     0     int64
HS_Religion         2     0     int64
HS_Race             2     0     int64
HS_Physical         2     0     int64
HS_Gender           2     0     int64
HS_Other            2     0     int64
HS_Weak             2     0     int64
HS_Moderate         2     0     int64
HS_Strong           2     0     int64

In [13]:
data.columns

Index(['Tweet', 'HS', 'Abusive', 'HS_Individual', 'HS_Group', 'HS_Religion',
       'HS_Race', 'HS_Physical', 'HS_Gender', 'HS_Other', 'HS_Weak',
       'HS_Moderate', 'HS_Strong'],
      dtype='object')

### 7. Data Cleansing

### a. Data Duplicated

In [14]:
data.duplicated().sum()

125

### b. Drop Data Duplicated

In [15]:
data.drop_duplicates(inplace=True)
print('success')

success

In [16]:
data.duplicated().sum()

0

### c. Cleaning Data Tweet

In [17]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'\\t|\\n|\\u', ' ', text) #Menghapus karakter khusus seperti tab, baris baru, karakter Unicode, dan backslash.
    text = re.sub(r"https?:[^\s]+", ' ', text)  # Menghapus http / https
    text = re.sub(r"[^\w\s+]", '', text)  # Menghapus karakter kecuali huruf, angka, dan spasi
    text = re.sub(r'rt|user', ' ', text)  # Menghapus kata-kata 'rt' dan 'user'
    text = re.sub(r'[\\x]+[a-z0-9]{2}', '', text)  # Menghapus karakter yang dimulai dengan '\x' diikuti oleh dua karakter huruf atau angka
    text = re.sub(r'[^\x00-\x7F]+', '', text)  # Remove non-ASCII characters
    text = text.replace('_', ' ')  # Menghapus underscore
    text = re.sub(r'(\d+)', r' \1 ', text)  # Memisahkan angka dari teks
    text = re.sub(r'\s+', ' ', text).strip()  # Menggabungkan spasi berturut-turut menjadi satu spasi
    text = re.sub(r'(\d+)', lambda x: num2words(int(x.group(0)), lang='id'), text)  # Mengonversi angka menjadi kata
    return text

data['Tweet'] = data['Tweet'].apply(clean_text)
print('success')

success

### d. After Cleaning Data Tweet

In [18]:
data["Tweet"].head(20)

0     disaat semua cowok berusaha melacak perhatian ...
1     siapa yang telat ngasih tau eluedan sarap gue ...
2     empat puluh satu kadang aku berfikir kenapa ak...
3     aku itu aku ku tau matamu sipit tapi diliat da...
4     kaum cebong kapir udah keliatan dongoknya dari...
5                                    ya bani taplak dkk
6     deklarasi pilkada dua ribu delapan belas aman ...
7     gue baru aja kelar rewatch aldnoah zero paling...
8     nah admin belanja satu lagi po terbaik nak mak...
9                               enak lg klo smbil ngewe
10    setidaknya gw punya jari tengah buat lu sebelo...
11    banci kaleng malu ga bisa jawab pe anyaan kami...
12    kalo belajar ekonomi mestinya jago memprivatis...
13    aktor huruhara sembilan puluh delapan prabowo ...
14    bu guru enakan jadi jablay atau guru esde sih ...
15    lawan bicara gw gak intelek kyk loe yg otak ga...
16           belakangan ini kok fikiran ampas banget ya
17                      ari sarua beki mah repeh monyet
18    jadi cowo itu harus gantle kalo ga gantle itu ...
19                                         slga mnr bom
Name: Tweet, dtype: object

In [19]:
data.Tweet[6451]

'semangkin semarak dua ribu sembilan belas gantipresiden dua ribu sembilan belas presidenbaru'

### 8. Exploratory Data Analyst (EDA)

In [ ]:
abusive_words = abusive_df['ABUSIVE'].tolist()

word_counts = dict()

for i in data['Tweet']: